html,
body {
  padding: 0;
  margin: 30px; /*SET BACK TO 0 FOR TESTING ONLY*/
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: pink; /*DELETE FOR TESTING ONLY*/
  font-size: 62.5%; /*Make rem ez bc 1.0rem = 10px*/
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
